/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: white;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  max-width: 20em;
  max-height: 3em;
  line-height: 3;
  background: white;
  overflow: hidden;
  border-radius: .25em;
  border: 1px solid #03a9f4;
  margin-left: auto;
  margin-right: auto;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #000000;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: white;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #03a9f4;;
}

button {
  margin: 5px; 
  min-width: 100px;
}

.centered-div {
  display: block;
  text-align: center;
}

