<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FACE DETECTION</title>
    <link href="{{ url_for('static', filename='assets/css/demo2/pages/general/wizard/wizard-2.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='assets/css/demo2/pages/general/wizard/wizard-3.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link href="{{ url_for('static', filename='assets/vendors/global/vendors.bundle.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='assets/css/demo2/style.bundle.css') }}" rel="stylesheet" type="text/css" />
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">
    <!--begin::Fonts -->
    <script src="{{ url_for('static', filename='assets/ajax/libs/webfont/1.6.16/webfont.js') }}"></script>
    <script>
        WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Fonts -->
</head>

<body>

    <div id="mainSidepanel" class="sidepanel" style="z-index: 11;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <div class="centered-div" style="font-size: x-large;"><i class="fa fa-bars fa-lg"></i> Menu</div> <!-- ☰ -->
        <a href="javascript:void(0)" onclick="switchMainTabs(event, 'video')" id="defaultOpen"><i class="fa fa-video-camera"></i>&nbspVideo</a>
        <a href="javascript:void(0)" onclick="switchMainTabs(event, 'gallery')"><i class="fa fa-picture-o"></i>&nbspGallery</a>
        <a href="javascript:void(0)" onclick="switchMainTabs(event, 'tagging')"><i class="fa fa-tag"></i>&nbspTag</a>
        <a href="javascript:void(0)" onclick="switchMainTabs(event, 'registration')"><i class="fa fa-address-card-o"></i>&nbspRegister</a> 
        <a href="javascript:void(0)" onclick="switchMainTabs(event, 'records')"><i class="fa fa-database"></i>&nbspRecords</a> 
        <a href="javascript:void(0)" onclick="switchMainTabs(event, 'settings')"><i class="fa fa-cog"></i>&nbspSettings</a>
    </div>

    <div class="icon-bar">
        <a href="javascript:void(0)" class="openbtn" onclick="openNav()"><i class="fa fa-bars fa-lg"></i></a>
    </div>

    <div class="jumbotron" style="height: 100%;">

        <!--begin::Portlet-->
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <h3 style="margin: auto;" id="main_tabs_title">
                    Video Surveillance
                </h3>
            </div>

            <!-- begin:: Video Tab -->
            <div id="video" class="tabcontent container">

                <!--begin::Main menu for all video streams-->
                <div id="main_video_feed_menu" class="kt-portlet__head">
                    <div class="container centered-div" style="padding-top: 10px; padding-bottom: 10px;">
                        <span class="stream_controls_icons"><i class="btn-primary btn fa fa-plus fa-2x" onclick="insertNewVideoFeed()" title="Add camera"></i></span>
                        <span class="stream_controls_icons"><i class="btn-primary btn fa fa-play fa-2x" onclick="startAllStreams()" title="Start all cameras"></i></span>
                        <span class="stream_controls_icons"><i class="btn-primary btn fa fa-stop fa-2x" onclick="stopAllStreams()" title="Stop all cameras"></i></span>
                        <span class="stream_controls_icons"><i class="btn-primary btn fa fa-camera fa-2x" onclick="takeAllSnapshots()" title="Take snapshots on all cameras"></i></span> 
                        <span class="stream_controls_icons"><i class="btn-primary btn fa fa-floppy-o fa-2x" onclick="saveAllVideos()" title="Start saving videos for all cameras"></i></span>
                        <span class="stream_controls_icons"><i class="btn-primary btn fa fa-smile-o fa-2x" onclick="allFacialRecognition()" title="Activate facial recognition for all cameras"></i></span>
                        <span class="stream_controls_icons"><i class="btn-primary btn fa fa-wheelchair-alt fa-2x" onclick="allMotionDetection()" title="Activate motion detection for all cameras"></i></span> 
                        <span class="stream_controls_icons"><i class="btn-primary btn fa fa-trash fa-2x" onclick="removeAllVideoFeeds()" title="Delete all cameras"></i></span>
                    </div>
                </div>
                <!--end::Main menu for all video streams-->

                <!--begin::Video streams-->

                <!--end::Video streams-->
                
            </div>
            <!-- end:: Video Tab -->


            <!-- begin:: Gallery Tab -->
            <div id="gallery" class="tabcontent">
                <h3>Gallery</h3>
            </div>
            <!-- end:: Gallery Tab -->


            <!-- begin:: Tagging Tab -->
            <div id="tagging" class="tabcontent">
                <h3>Tagging</h3>
            </div>
            <!-- end:: Tagging Tab -->


            <!-- begin:: Registration Tab -->
            <div id="registration" class="tabcontent">
                <h3>Registration</h3>
            </div>
            <!-- end:: Registration Tab -->


            <!-- begin:: Records Tab -->
            <div id="records" class="tabcontent">
                <h3>Records</h3>
            </div>
            <!-- end:: Records Tab -->


            <!-- begin:: Settings Tab -->
            <div id="settings" class="tabcontent">
                <h3>Settings</h3>
            </div>
            <!-- end:: Settings Tab -->


            <!-- Begin Snackbar -->
            <div id="snackbar"></div>
            <!-- End Snackbar -->

        </div>
        <!--End::Portlet-->

    </div>

    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {"colors":{"state":{"brand":"#374afb","light":"#ffffff","dark":"#282a3c","primary":"#5867dd","success":"#34bfa3","info":"#36a3f7","warning":"#ffb822","danger":"#fd3995"},"base":{"label":["#c5cbe3","#a1a8c3","#3d4465","#3e4466"],"shape":["#f0f3ff","#d9dffa","#afb4d4","#646c9a"]}}};
    </script>
    <!-- end::Global Config -->
    <script src="{{ url_for('static', filename='assets/vendors/global/vendors.bundle.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='assets/js/demo2/scripts.bundle.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='assets/vendors/custom/datatables/datatables.bundle.js') }}" type="text/javascript"></script>
    <!-- <script src="{{ url_for('static', filename='assets/js/demo2/pages/crud/forms/widgets/transfers.js') }}" type="text/javascript"></script> -->
    <script src="{{ url_for('static', filename='assets/js/demo2/pages/components/extended/sweetalert2.js') }}" type="text/javascript"></script>
    <!-- <script src="{{ url_for('static', filename='assets/js/demo2/pages/dashboard.js') }}" type="text/javascript"></script> -->
            <!-- <script src="{{ url_for('static', filename='assets/js/demo2/pages/crud/forms/widgets/select2.js') }}" type="text/javascript"></script> -->
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>  -->
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/video-capture.js') }}"></script>
    <!-- <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script> -->
    <script src="{{ url_for('static', filename='js/main-tabs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tag-person.js') }}"></script>
    <script src="{{ url_for('static', filename='js/register-person.js') }}"></script>
    <script src="{{ url_for('static', filename='js/adapter-latest.js') }}"></script>
    
</body>

</html>