<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FACE DETECTION</title>
    <link href="{{ url_for('static', filename='assets/css/demo2/pages/general/wizard/wizard-2.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='assets/css/demo2/pages/general/wizard/wizard-3.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link href="{{ url_for('static', filename='assets/vendors/global/vendors.bundle.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='assets/css/demo2/style.bundle.css') }}" rel="stylesheet" type="text/css" />
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">
    <!--begin::Fonts -->
    <script src="{{ url_for('static', filename='assets/ajax/libs/webfont/1.6.16/webfont.js') }}"></script>
    <script>
        WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Fonts -->
</head>

<body>

    <div id="mainSidepanel" class="sidepanel" style="z-index: 11;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <div class="centered-div" style="font-size: x-large;"><i class="fa fa-bars fa-lg"></i> Menu</div> <!-- ☰ -->
        <a href="javascript:void(0)" onclick="switchMainTabs(event, 'video')" id="defaultOpen"><i class="fa fa-video-camera"></i>&nbspVideo</a>
        <a href="javascript:void(0)" onclick="switchMainTabs(event, 'gallery')"><i class="fa fa-picture-o"></i>&nbspGallery</a>
        <a href="javascript:void(0)" onclick="switchMainTabs(event, 'tagging')"><i class="fa fa-tag"></i>&nbspTag</a>
        <a href="javascript:void(0)" onclick="switchMainTabs(event, 'registration')"><i class="fa fa-address-card-o"></i>&nbspRegister</a> 
        <a href="javascript:void(0)" onclick="switchMainTabs(event, 'records')"><i class="fa fa-database"></i>&nbspRecords</a> 
        <a href="javascript:void(0)" onclick="switchMainTabs(event, 'settings')"><i class="fa fa-cog"></i>&nbspSettings</a>
    </div>

    <div class="icon-bar">
        <a href="javascript:void(0)" class="openbtn" onclick="openNav()"><i class="fa fa-bars fa-lg"></i></a>
    </div>

    <div class="jumbotron" style="height: 100%;">

        <!--begin::Portlet-->
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <h3 style="margin: auto;" id="main_tabs_title">
                    Video Surveillance
                </h3>
            </div>

            <!-- begin:: Video Tab -->
            <div id="video" class="tabcontent container">

                <!--begin::Main menu for all video streams-->
                <div id="main_video_feed_menu" class="kt-portlet__head">
                    <div class="container centered-div" style="padding-top: 10px; padding-bottom: 10px;">
                        <span class="stream_controls_icons"><i class="btn-primary btn fa fa-plus fa-2x" onclick="insertNewVideoFeed()" title="Add camera"></i></span>
                        <span class="stream_controls_icons"><i class="btn-primary btn fa fa-play fa-2x" onclick="startAllStreams()" title="Start all cameras"></i></span>
                        <span class="stream_controls_icons"><i class="btn-primary btn fa fa-stop fa-2x" onclick="stopAllStreams()" title="Stop all cameras"></i></span>
                        <span class="stream_controls_icons"><i class="btn-primary btn fa fa-camera fa-2x" onclick="takeAllSnapshots()" title="Take snapshots on all cameras"></i></span> 
                        <span class="stream_controls_icons"><i class="btn-primary btn fa fa-floppy-o fa-2x" onclick="saveAllVideos()" title="Start saving videos for all cameras"></i></span>
                        <span class="stream_controls_icons"><i class="btn-primary btn fa fa-smile-o fa-2x" onclick="allFacialRecognition()" title="Activate facial recognition for all cameras"></i></span>
                        <span class="stream_controls_icons"><i class="btn-primary btn fa fa-wheelchair-alt fa-2x" onclick="allMotionDetection()" title="Activate motion detection for all cameras"></i></span> 
                        <span class="stream_controls_icons"><i class="btn-primary btn fa fa-trash fa-2x" onclick="removeAllVideoFeeds()" title="Delete all cameras"></i></span>
                    </div>
                </div>
                <!--end::Main menu for all video streams-->

                <!--begin::no camera element-->
                <div class="container centered-div" id="no_video_div">
                    <p style="font-size: 30px;">NO CAMERA</p>
                    <p>
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="52.233px" height="52.233px" viewBox="0 0 52.233 52.233" style="enable-background:new 0 0 52.233 52.233;"
                            xml:space="preserve">
                        <g>
                            <g>
                                <path d="M45.99,13.134l-6.241,2.882c0,0-1.071,0-2.405,0c-0.24,0-0.466,0.134-0.686,0.327v-3.52c0-3.096-2.509-5.604-5.603-5.604
                                    H5.602C2.507,7.22,0,9.728,0,12.824v20.338c0,3.095,2.507,5.604,5.602,5.604h0.752h9.659h7.035
                                    c-0.387-1.147-0.606-2.373-0.606-3.652c0-6.32,5.142-11.463,11.463-11.463c5.406,0,9.938,3.765,11.14,8.808
                                    c0.309,0.137,0.623,0.277,0.945,0.419c3.454,1.53,6.243-2.914,6.243-9.924C52.233,15.934,49.444,11.533,45.99,13.134z"/>
                                <path d="M43.967,35.113c0-5.458-4.442-9.901-9.901-9.901s-9.901,4.443-9.901,9.901c0,5.459,4.442,9.9,9.901,9.9
                                    S43.967,40.572,43.967,35.113z M27.279,35.113c0-3.741,3.046-6.787,6.787-6.787c0.738,0,1.447,0.123,2.114,0.343l-7.32,10.786
                                    C27.875,38.279,27.279,36.763,27.279,35.113z M39.272,30.769c0.985,1.179,1.58,2.692,1.58,4.344c0,3.741-3.045,6.786-6.786,6.786
                                    c-0.738,0-1.448-0.123-2.115-0.343L39.272,30.769z"/>
                            </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                        </svg>
                    </p>
                    <!-- <img src="{{ url_for('static', filename='images/no_video.svg') }}"/> -->
                </div>
                <!--end::no camera element-->

                <!--begin::Video streams-->

                <!--end::Video streams-->
                
            </div>
            <!-- end:: Video Tab -->


            <!-- begin:: Gallery Tab -->
            <div id="gallery" class="tabcontent">
                <h3>Gallery</h3>
            </div>
            <!-- end:: Gallery Tab -->


            <!-- begin:: Tagging Tab -->
            <div id="tagging" class="tabcontent">
                <h3>Tagging</h3>
            </div>
            <!-- end:: Tagging Tab -->


            <!-- begin:: Registration Tab -->
            <div id="registration" class="tabcontent">
                <h3>Registration</h3>
            </div>
            <!-- end:: Registration Tab -->


            <!-- begin:: Records Tab -->
            <div id="records" class="tabcontent">
                <h3>Records</h3>
            </div>
            <!-- end:: Records Tab -->


            <!-- begin:: Settings Tab -->
            <div id="settings" class="tabcontent">
                <h3>Settings</h3>
            </div>
            <!-- end:: Settings Tab -->


            <!-- Begin Snackbar -->
            <div id="snackbar"></div>
            <!-- End Snackbar -->

        </div>
        <!--End::Portlet-->

    </div>

    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {"colors":{"state":{"brand":"#374afb","light":"#ffffff","dark":"#282a3c","primary":"#5867dd","success":"#34bfa3","info":"#36a3f7","warning":"#ffb822","danger":"#fd3995"},"base":{"label":["#c5cbe3","#a1a8c3","#3d4465","#3e4466"],"shape":["#f0f3ff","#d9dffa","#afb4d4","#646c9a"]}}};
    </script>
    <!-- end::Global Config -->
    <script src="{{ url_for('static', filename='assets/vendors/global/vendors.bundle.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='assets/js/demo2/scripts.bundle.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='assets/vendors/custom/datatables/datatables.bundle.js') }}" type="text/javascript"></script>
    <!-- <script src="{{ url_for('static', filename='assets/js/demo2/pages/crud/forms/widgets/transfers.js') }}" type="text/javascript"></script> -->
    <script src="{{ url_for('static', filename='assets/js/demo2/pages/components/extended/sweetalert2.js') }}" type="text/javascript"></script>
    <!-- <script src="{{ url_for('static', filename='assets/js/demo2/pages/dashboard.js') }}" type="text/javascript"></script> -->
            <!-- <script src="{{ url_for('static', filename='assets/js/demo2/pages/crud/forms/widgets/select2.js') }}" type="text/javascript"></script> -->
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>  -->
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='js/video-capture.js') }}"></script>
    <!-- <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script> -->
    <script src="{{ url_for('static', filename='js/main-tabs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tag-person.js') }}"></script>
    <script src="{{ url_for('static', filename='js/register-person.js') }}"></script>
    <script src="{{ url_for('static', filename='js/adapter-latest.js') }}"></script>
    
</body>

</html>